body {
  font-family: sans-serif;
  background-color: #000000;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  color: #fff;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  background-color: #000000;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
  color: #00bbff;
}
a:hover {
  text-decoration: underline;
}

p {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

ul, li {
    color: #fff;
}

code {
    display: block;
    background-color: #333;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    overflow: auto;
    max-height: 300px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
